<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.JPG" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Nabir Dinani</h1>
		<p>This is day 2 of my 12 Web Apps in 12 days.</p>
		<p>Today I will built a blog using Ruby On Rails. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>If you'd like to checkout the project here is the link <a href="https://github.com/nabirdinani/day2-blog">Day 2 - blog</a> </p>
	</div>
</div>